nav {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
}

.size{
  display: block;
  max-width: 665px;
  max-height: 400px;
}

footer {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4rem;
}

.mt-35 {
  margin-top: 35%;
}

.top-20 {
  margin-top: 40px;
}

.stripe {
  width: 100%;
  color: white;
  background: repeating-linear-gradient(-45deg, #FFFF00, #FFFF00 10px, #000000 10px, #000000 20px);
}

.fa-instagram,
.fa-list-ul,
.fa-envelope {
  color:#000000;
}

.fa-instagram:hover {
  color:#f514d7;
}

.fa-list-ul:hover {
  color:#34021b;
}

.fa-envelope:hover {
  color:#e10707;
}

.links{
  width: 100%;
}

a {
  display: inline-block;
  margin-top: 5rem!important;
  /* margin-right: 4rem; */
  text-decoration: none !important;
}

/*--- Media Queries ---*/
